In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('D:/Capstone Project/Dataset/umkm_cleaned_v2.csv')
df.head()

,Nama_pemilik,nama_usaha,Deskripsi_usaha,category,address,no_hp,latitude,longitude
0,Fajar Purnomo,Budidaya Lele,Usaha pembesaran ikan lele,Peternakan,"Kembangarum Balong Donokerto Turi Sleman, Kel....",085228427170,-7.659354,110.375565
1,Aditya Nugraha,Kedai milano,Usaha yang menjual berbagai jenis makanan harian,Kuliner,"Jl. Anoa Satu, Kel. Tatura Utara, Kec. Palu Se...",082136971788,-0.911650,119.884413
2,Diki Akbar,Soufenir dan aksesoris,Usaha di bidang merchandise soufenir dan akses...,Seni,"Jl Cihamplas, Kel. Ciumbuleuit, Kec. Cidadap, ...",085871611877,-6.858630,107.612654
3,Dirman,PENJUAL SARUNG & PETANI,Bertani dan bejualan sarung keliling,Pertanian,"Galesong, Kel. Boddia, Kec. Galesong, Kab. Tak...",085320078141,-5.327856,119.362781
4,Hamzah Dg Lawa,Peternakan Karya Nur,Menjual telur dan bibit ayam dan itik.,Peternakan,"Jl.muhayyang Desa Patani, Kel. Patani, Kec. Ma...",082193220315,-5.450247,119.415030

In [3]:
def recommend_umkm(df, latitude, longitude):
  user_location = np.array([latitude, longitude])

  df['distance'] = np.linalg.norm(df[['latitude', 'longitude']].values - user_location, axis=1)
  df = df.sort_values(by='distance')

  nearby_umkm = df['nama_usaha'].head(20)
  return nearby_umkm

In [4]:
latitude = -0.911650
longitude = 119.884413

recommendation = recommend_umkm(df, latitude, longitude)
print('UMKM di Dekat Anda:')
recommendation

UMKM di Dekat Anda:

1                    Kedai milano
605                       Pribadi
471          Pabrik tempe kartono
96                    Manjo mamam
995                       Anugrah
283                      Skincare
874               Qinanti Laundry
381     Jual beli perhiasan perak
358                        Fathur
205       Keripik pisang syarifah
635                        Femiia
1056     Jual barang rumah tangga
311                    Jajan kue
389                  MONICA STORE
117                        Konter
544         Percetakan ISPAN FOTO
733        Halalan Thoyyiba Drink
770        Outlet (Blessing Cell)
559                Peyek rajawali
60                      Pertanian
Name: nama_usaha, dtype: object